<!DOCTYPE html>
<html>
<head>
<title>[% domain.domain %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="Description" content="Look no further for the best information on [% domain.domain %].  Find all your results about [% domain.domain %]" />
<meta name="Keywords" content="[% layout.keywords %]" />
<meta name="robots" content="noindex,nofollow" />
<link rel="stylesheet" href="[% staticcontenturl %]/images/metallic/styles/styles.css" type="text/css" />

</head>

<body>
<div class="wrapper">
	<div class="header">
		[% INCLUDEHEADERCONTENT %]
    </div><!--/header-->

	<div id="body">
		<div id="content">
        	<div class="content_related_search">
            
            	<img src="[% staticcontenturl %]/images/metallic/images/general.jpg" width="240" height="163" style="border:solid 0px #ccc; margin:0; " />
                
            	<div class="related_head">
                   <h2><a class='relatedLnk' rel='feedback_url' href='feedback_url' target='_blank'>[% Catalyst.loc('Related Searches') || "Related Searches" %]</a></h2>
                </div><!--/related_head-->
                
                <div class="related_list">
                	<ul>
                        <li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Education&categoryid=&token=[% generaltoken %]'>Education</a></li>
                        <li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Electronics&categoryid=&token=[% generaltoken %]'>Electronics</a></li>
                        <li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Employment&categoryid=&token=[% generaltoken %]'>Employment</a></li>
                        <li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Employment&categoryid=&token=[% generaltoken %]'>Finance</a></li>
                        <li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Flowers&categoryid=&token=[% generaltoken %]'>Flowers</a></li>

<li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Furniture&categoryid=&token=[% generaltoken %]'>Furniture</a></li>
<li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Games&categoryid=&token=[% generaltoken %]' >Games</a></li>
<li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Gifts&categoryid=&token=[% generaltoken %]'>Gifts</a></li>
<li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Health&categoryid=&token=[% generaltoken %]'>Health</a></li>
<li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Insurance&categoryid=&token=[% generaltoken %]'>Insurance</a></li>

					</ul>
                </div><!--/related_list-->
            </div><!--/content_related_search-->
            
            

            <div class="contentSponsored">
                <span class="sponsoredlisting"><a class='sponsored' id='sponsorlink' href ='feedback_url' target='_blank'>Sponsored Listings</a> for: [% IF searchterms %] [% searchterms %] [% ELSE %] [% domain.domain %][% END %]</span>
                
<div class="portalWrap">
                
                    <ul>
<li>
    <a target="_blank" href="http://www.toptrafficsource.com/dc/zc.php?domain=[% domain.domain %]&referer=http%3A%2F%2Fwww.[% domain.domain %]%2F?ref=dm&keywords=colleges" class="head">Online Education Degrees</a><br />
    <a target="_blank" href="http://www.toptrafficsource.com/dc/zc.php?domain=[% domain.domain %]&referer=http%3A%2F%2Fwww.[% domain.domain %]%2F?ref=dm&keywords=colleges" class="url">Get a degree online and compete with the best in your Industry! Take classes on your schedule, so you can still work!</a>
</li>

<li>
    <a target="_blank" href="http://www.toptrafficsource.com/dc/zc.php?domain=[% domain.domain %]&referer=http%3A%2F%2Fwww.[% domain.domain %]%2F?ref=dm&keywords=life+insurance" class="head">Affordable Life Insurance</a><br />
    <a target="_blank" href="http://www.toptrafficsource.com/dc/zc.php?domain=[% domain.domain %]&referer=http%3A%2F%2Fwww.[% domain.domain %]%2F?ref=dm&keywords=life+insurance" class="url">Compare and find the best rates for you and your family. Don't Wait Request a Free No Obligation Quote</a>
</li>
<li>
    <a target="_blank" href="http://www.toptrafficsource.com/dc/zc.php?domain=[% domain.domain %]&referer=http%3A%2F%2Fwww.[% domain.domain %]%2F?ref=dm&keywords=free+checking+account" class="head">Free Checking Offer</a><br />
    <a target="_blank" href="http://www.toptrafficsource.com/dc/zc.php?domain=[% domain.domain %]&referer=http%3A%2F%2Fwww.[% domain.domain %]%2F?ref=dm&keywords=free+checking+account" class="url">Compare, Find, and Earn Money With an Interest-Bearing Checking Account. Free ATMs and no overdraft fees - Apply Today!</a>

</li>
<li>
    <a target="_blank" href="http://www.toptrafficsource.com/dc/zc.php?domain=[% domain.domain %]&referer=http%3A%2F%2Fwww.[% domain.domain %]%2F?ref=dm&keywords=online+computer+training" class="head">IT Online Learning</a><br />
    <a target="_blank" href="http://www.toptrafficsource.com/dc/zc.php?domain=[% domain.domain %]&referer=http%3A%2F%2Fwww.[% domain.domain %]%2F?ref=dm&keywords=online+computer+training" class="url">Computer Courses, Small Classes. Convenient Day and Evening Classes to learn what you want, when you want!</a>
</li>
<li>
    <a target="_blank" href="http://www.toptrafficsource.com/dc/zc.php?domain=[% domain.domain %]&referer=http%3A%2F%2Fwww.[% domain.domain %]%2F?ref=dm&keywords=car+insurance" class="head">Car Insurance Quotes Online</a><br />
    <a target="_blank" href="http://www.toptrafficsource.com/dc/zc.php?domain=[% domain.domain %]&referer=http%3A%2F%2Fwww.[% domain.domain %]%2F?ref=dm&keywords=car+insurance" class="url">Save Money & Get Better Protection! Automobile Insurance For People on a Budget - Get Free Quote Now!</a>
</li>
<li>
    <a target="_blank" href="http://www.toptrafficsource.com/dc/zc.php?domain=[% domain.domain %]&referer=http%3A%2F%2Fwww.[% domain.domain %]%2F?ref=dm&keywords=debt+consolidation+of+payday+loan" class="head">Get Out Of Debt Today</a><br />
    <a target="_blank" href="http://www.toptrafficsource.com/dc/zc.php?domain=[% domain.domain %]&referer=http%3A%2F%2Fwww.[% domain.domain %]%2F?ref=dm&keywords=debt+consolidation+of+payday+loan" class="url">The payday loan debt consolidastion is a process that will help you pay off your high interest payday loans with much ease - Get Free Quote Today!</a>

</li>
<li>
<a target="_blank" href="http://www.toptrafficsource.com/dc/zc.php?domain=[% domain.domain %]&referer=http%3A%2F%2Fwww.[% domain.domain %]%2F?ref=dm&keywords=travel+deals" class="head">Best Travel Deals</a><br />
<a target="_blank" href="http://www.toptrafficsource.com/dc/zc.php?domain=[% domain.domain %]&referer=http%3A%2F%2Fwww.[% domain.domain %]%2F?ref=dm&keywords=travel+deals" class="url">Kick Back On The Beach, Travel Through Europe, or Take a Safari in Africa. Find your Vacation Deal Guarantee - Search Now!</a> 
</li>
                    </ul>
</div>
                    
            </div><!--/contentSponsored-->
        </div><!--/content-->
	</div><!--/body-->
	<div class="push"></div> 
</div><!--/wrapper-->



<div class="footer">
	<div class="footerContent">
            <div class="footerlist">
                <ul>
                    <li class='rel'>Related Search :</li>
                    
                    <li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Legal&categoryid=&token=[% generaltoken %]'>Legal</a></li>
                    <li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Loans&categoryid=&token=[% generaltoken %]'>Loans</a></li>
                    <li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Mortgage&categoryid=&token=[% generaltoken %]'>Mortgage</a></li>
                    <li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Music&categoryid=&token=[% generaltoken %]'>Music</a></li>
                    <li><a href='/domainserve/domainSearch?lg=[% lg %]&dn=[% dn %]&searchtype=related_p&searchterms=Real Estate&categoryid=&token=[% generaltoken %]'>Real Estate</a></li>
                </ul>
            </div><!--/footerlist-->
    	
        <div class="footerPrivacy"><a href="http://www.[% domain.domain %]/domainserve/privacy?dn=[% domain.domain %]" class="txtlink" target="_blank">Privacy Policy</a> | <a href="javascript:contactus('/domainserve/contactus?dn=[% domain.domain %]')" class="txtlink">Advertise</a></div>
        
        
        
        
        
        
<script language=javascript>
<!--
function contactus(N) {
newWindow = window.open(N, 'contactus','top=60,left=300,toolbar=no,menubar=no,resizable=no,scrollbars=no,status=no,location=no,width=632,height=475');
}
//-->
</script>
        
    </div><!--/footerContent-->
</div><!--/footer-->




<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16899173-25']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_setDomainName', '[% domain.domain %]']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


<script language="javascript"> 
var dex_url 
dex_url = '<iframe src="http://domdex.com/f?c=417&k='+relatedArray[0][0]+'" width=0 height=0 frameborder=0></iframe>';
document.write (dex_url); //prints the value of x
</script>

</body>
</html>
